
body {
    background-color: #02b67a;
    background-image: url(https://www.devmedia.com.br/view/img/grid.png);

}

.navbar {
    margin-bottom:40px ;
}

.card {
    margin-bottom: 20px;
}